.listTdLeft {
  width: 150px;
  padding: 5px 0;
  text-align: right;
}

.form-label {
  vertical-align: middle;
  padding: 2.5px 0;
}

.form-control {
    width: 150px;
    display: block;
    vertical-align: middle;
    padding: 2.5px;
}

.form-inline {
    display: inline;
}

.input {
  width: 150px;
}

.input.error {
    border: 1px solid #e03406;
}

.textarea.error {
    border: 1px solid #e03406;
}

.date-selector {
  position: relative;
  font-size: 12px;

  a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
  }

  a:hover {
    background: #eaeaea;
  }

  .selector {
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 999;
    display: none;

    .top {
      position: relative;
      text-align: center;
      padding: 5px 0;

      .text {
        cursor: pointer;
      }

      >a {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 25px;
        line-height: 25px;
        text-align: center;
      }

      .prev {
        left: 0px;
      }

      .next {
        right: 0px;
      }
    }

    .weeks {
      width: 175px;

      >span {
        display: block;
        float: left;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
      }
    }

    .days {
      width: 175px;

      >a {
        display: block;
        float: left;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;

        &.dark {
          color: #797979;
        }

        &.selected {
          background-color: #eaeaea;
        }

        &.disabled {
          cursor: none;
          pointer-events: none;
          color: #acacac;

          &:hover {
            background: none;
          }
        }
      }
    }

    .months {
      width: 175px;

      >a {
        display: block;
        float: left;
        width: 29.166px;
        height: 29.166px;
        line-height: 29.166px;
        text-align: center;

        &.selected {
          background-color: #eaeaea;
        }

        &.disabled {
          cursor: none;
          pointer-events: none;
          color: #acacac;

          &:hover {
            background: none;
          }
        }
      }
    }
  }

  >input:focus + .selector {
    display: block;
  }
}
