.clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin clearfix() {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.valign-m {
  vertical-align: middle;
}

.pdr10 {
  padding-right: 10px;
}

.color-red {
    color: #e03406;   
}
